# moralis api key
MORALIS_API_KEY=""
MORALIS_CHAIN="bsc" # "bsc" - for binance mainnet; "bsc testnet" - for the testnet

# telegram bot token
TOKEN=""

# binance scan api key
BSC_API_KEY=""

# testnet bsc
# RPS="https://data-seed-prebsc-1-s3.binance.org:8545/"
# CONTRACT="0x398366b77fE6650936Abb22d01A9f1085F2FF33e"

# mainnet bsc
RPS="https://bsc-dataseed3.binance.org/"
CONTRACT="0xDBcb34d17346e4E96469092bdeD68b131c497633"